[submodule "libcds"]
	path = libcds
	url = https://github.com/diegocaro/libcds
[submodule "sdsl-lite"]
	path = sdsl-lite
	url = https://github.com/diegocaro/sdsl-lite
[submodule "tgdim"]
	path = tgdim
	url = https://github.com/diegocaro/tgdim
[submodule "cas"]
	path = cas
	url = https://github.com/diegocaro/cas
[submodule "cet"]
	path = cet
	url = https://github.com/diegocaro/cet
[submodule "wmatrix"]
	path = wmatrix
	url = https://github.com/diegocaro/wmatrix
