[submodule "sdsl-lite"]
	path = sdsl-lite
	url = https://github.com/diegocaro/sdsl-lite
[submodule "tgdim"]
	path = tgdim
	url = https://github.com/diegocaro/tgdim
[submodule "cas"]
	path = cas
	url = https://github.com/diegocaro/cas
[submodule "cet"]
	path = cet
	url = https://github.com/diegocaro/cet
[submodule "wmatrix"]
	path = wmatrix
	url = https://github.com/diegocaro/wmatrix
[submodule "libcds"]
	path = libcds
	url = https://github.com/diegocaro/libcds
[submodule "edgelogbase"]
	path = edgelogbase
	url = https://github.com/diegocaro/edgelogbase
[submodule "adjlogbase"]
	path = adjlogbase
	url = https://github.com/diegocaro/adjlogbase
[submodule "compresslists"]
	path = compresslists
	url = https://github.com/diegocaro/compresslists.git
[submodule "etdc"]
	path = etdc
	url = https://github.com/diegocaro/etdc.git
